<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <!--<div class="panel-heading">基本信息</div>-->
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;九曜智能</h3>
        <ul>
            <li> 北京九曜智能科技有限公司成立于2018年10月，注册资本5,000万元。</li>
            <li>公司拥有一支年轻、专业、富有激情的创新物流团队，致力于为客户提供专业的汽车物流平台和智能物流服务。</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;91物流</h3>
        <ul>
            <li>为客户提供专业的汽车物流智能管理系统平台。</li>
            <li>运用大数据和算法，以技术手段实现货源与运力的智能匹配，支持指派、竞价、抢单等交易模式，提高物流公司运营效率；</li>
            <li>为中小物流公司提供SAAS服务，可以对货物运输进行全程跟踪，提升信息化水平和管理效率；</li>
            <li>对平台承运商建立评价机制和信用体系，保障服务质量和安全。</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;九曜智能</h3>
        <ul>
            <li>依托智能设备为客户提供智能化解决方案和智能物流服务，促进汽车供应链升级与创新。</li>
            <li>自主研发NavaSmart智能物流系统平台，可驱动多种智能设备，满足多任务多场景多设备运作，避免客户信息系统重复投入；</li>
            <li>掌握智能设备集成、无人叉车改装和无人卡车改装等核心技术，可为客户提供无人化的业务运营；具有自动泊车机器人相关硬件，为客户提供智能高效的停车及车辆管理解决方案。</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;IT服务</h3>
        <ul>
            <li>咨询服务</li>
            <li>应用开发</li>
            <li>系统集成服务</li>
        </ul>

    </div>
</div>
</body>
</html>