<!DOCTYPE html>
<html>
<head>
    <title>人才招聘</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="职位名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("content:talent:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </#if>
        <#if shiro.hasPermission("content:talent:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
    </#if>
    <#if shiro.hasPermission("content:talent:delete")>
    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">职位名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="talent.talentTitle" placeholder="职位名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">招聘人数</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="talent.talentNumber" placeholder="招聘人数"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">工作地点</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="talent.talentPlace" placeholder="工作地点"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">职位职能</div>
            <div class="col-sm-10">
                <textarea rows="5" cols="120"  type="text" class="form-control" v-model="talent.talentFunctions"  placeholder="职位职能"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">任职资格</div>
            <div class="col-sm-10">
                <textarea rows="5" cols="120"  type="text" class="form-control" v-model="talent.talentQualification"  placeholder="任职资格"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">薪水</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="talent.talentPay" placeholder="薪水"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">学历</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="talent.talentEducation" placeholder="学历"/>




                <!--<select name="public-choice" v-model="talent.talentEducation" @change="getCouponSelected">-->
                    <!--<option :value="coupon.name" v-for="coupon in couponList" >{{coupon.name}}</option>-->
                <!--</select>-->




            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">备注</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="talent.remark" placeholder="备注"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/content/talent.js?_${.now?long}"></script>
</body>
</html>